# **Analisis pemilihan ekstrakulikuler di SMA X**

#### **Aturan pemilihan eskul:**
1. Siswa ataupun siswi wajib mengikuti ekstrakurikuler Pramuka
2. Siswa ataupun siswi wajib memilih min 2 ekstrakurikuler (termasuk pramuka) dan max 3 ekstrakurikuler
3. Hanya siswa/i kelas 10 dan 11 yang boleh mengikuti kegiatan ekstrakurikuler

#### **Deskripsi dataset:**
1. Terdapat 150 data siswa/i yang tercatat dalam pemilihan kegiatan ekstrakurikuler
2. Pada analisis ini menggunakan library mlxtend untuk menghitung aturan asosiasi menggunakan metode Apriori

In [1]:
#menambahkan library mlxtend
%pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)

#### **Import pustaka (library) dan paket yang diperlukan**

In [68]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

#### **Dataset**

In [69]:
dataset = [
#10
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'Paskibra', 'KIR'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra', 'KIR'],
           ['Pramuka', 'Paskibra', 'Seni'],
           ['Pramuka', 'VolleyBall'],
#20
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'Paskibra', 'VolleyBall'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'VolleyBall', 'SepakBola'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'SepakBola'],
#30
           ['Pramuka', 'PMR'],
           ['Pramuka', 'KIR', 'VolleyBall'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra', 'VolleyBall'],
           ['Pramuka', 'PMR', 'KIR'],
#40
           ['Pramuka', 'VolleyBall', 'SepakBola'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'PMR', 'VolleyBall'],
#50
           ['Pramuka', 'PMR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'VolleyBall', 'SepakBola'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'Paskibra', 'Seni'],
           ['Pramuka', 'Paskibra', 'KIR'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'PMR'],
#60
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'VolleyBall', 'SepakBola'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'VolleyBall', 'Seni'],
#70
           ['Pramuka', 'Seni'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'SepakBola', 'Seni'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra', 'Seni'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'KIR', 'VolleyBall'],
#80
           ['Pramuka', 'PMR', 'Seni'],
           ['Pramuka', 'Paskibra', 'Seni'],
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'KIR', 'VolleyBall'],
           ['Pramuka', 'VolleyBall', 'SepakBola'],
           ['Pramuka', 'VolleyBall', 'Seni'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'VolleyBall', 'SepakBola'],
#90
           ['Pramuka', 'VolleyBall', 'Seni'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'PMR', 'SepakBola'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
#100
           ['Pramuka', 'KIR'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'PMR', 'Seni'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
#110      
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'PMR', 'SepakBola'],
           ['Pramuka', 'PMR', 'VolleyBall'],
           ['Pramuka', 'PMR', 'Seni'],
           ['Pramuka', 'PMR', 'Seni'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'Paskibra'],
#120 
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR', 'KIR'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'PMR', 'VolleyBall'],
           ['Pramuka', 'KIR', 'VolleyBall'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'Paskibra'],
#130
           ['Pramuka', 'PMR'],
           ['Pramuka', 'KIR', 'Seni'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'SepakBola'],
#140
           ['Pramuka', 'PMR', 'KIR'],
           ['Pramuka', 'PMR', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'Paskibra'],
           ['Pramuka', 'Paskibra', 'SepakBola'],
           ['Pramuka', 'KIR'],
#150
           ['Pramuka', 'Seni'],
           ['Pramuka', 'Seni'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'PMR'],
           ['Pramuka', 'KIR'],
           ['Pramuka', 'VolleyBall'],
           ['Pramuka', 'SepakBola'],
           ['Pramuka', 'PMR', 'Seni']]

#### **Tranformasi datanya**

In [70]:
te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)

#### **Kerangka data**

In [71]:
df = pd.DataFrame(te_try, columns=te.columns_)
df

       KIR    PMR  Paskibra  Pramuka   Seni  SepakBola  VolleyBall
0    False  False      True     True  False      False       False
1    False  False      True     True  False      False       False
2    False  False      True     True  False      False       False
3    False   True     False     True  False      False       False
4    False   True     False     True  False      False       False
..     ...    ...       ...      ...    ...        ...         ...
145  False   True     False     True  False      False       False
146   True  False     False     True  False      False       False
147  False  False     False     True  False      False        True
148  False  False     False     True  False       True       False
149  False   True     False     True   True      False       False

[150 rows x 7 columns]

#### **Menggunakan algoritma Apriori**
kami sudah menghitung secara manual untuk mendapatkan min_support dari data sample (30 data)

In [72]:
frequent_itemsets = apriori(df, min_support=0.06, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support               itemsets  length
0   0.260000                  (KIR)       1
1   0.233333                  (PMR)       1
2   0.246667             (Paskibra)       1
3   1.000000              (Pramuka)       1
4   0.233333                 (Seni)       1
5   0.180000            (SepakBola)       1
6   0.206667           (VolleyBall)       1
7   0.260000         (KIR, Pramuka)       2
8   0.060000            (KIR, Seni)       2
9   0.233333         (Pramuka, PMR)       2
10  0.246667    (Paskibra, Pramuka)       2
11  0.233333        (Seni, Pramuka)       2
12  0.180000   (Pramuka, SepakBola)       2
13  0.206667  (VolleyBall, Pramuka)       2
14  0.060000   (KIR, Seni, Pramuka)       3

##### **Membentuk sebuah relasi**

In [73]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) & (frequent_itemsets['support'] >= 0.06) ]

     support               itemsets  length
7   0.260000         (KIR, Pramuka)       2
8   0.060000            (KIR, Seni)       2
9   0.233333         (Pramuka, PMR)       2
10  0.246667    (Paskibra, Pramuka)       2
11  0.233333        (Seni, Pramuka)       2
12  0.180000   (Pramuka, SepakBola)       2
13  0.206667  (VolleyBall, Pramuka)       2
14  0.060000   (KIR, Seni, Pramuka)       3

## **Kesimpulan**
Berdasarkan hasil yang didapatkan, siswa/i dominan memilih ekstrakurikuler KIR dan Pramuka